/* Global Overflow Control */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Responsive Design Principles */
.container {
    max-width: 1200px; /* Adjust based on your design */
    width: 100%;
    margin: 0 auto;
}

/* Specific Adjustments for iOS Devices */
@supports (-webkit-appearance: none) {
     body {
        overflow-x: hidden; /* Additional layer of protection for iOS */
        overflow-y: hidden;
    }
}

/* Example: Targeting a specific container for overflow control */
.overflow-container {
    overflow: hidden;
}

/* Handling Sticky Elements */
.sticky-element {
    position: relative;
}

/* Ensuring scroll is not trapped */
.no-scroll-trap {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/* Basic scrollbar customization (limited effect in iOS 14) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Contact Us Section */
.contactus-contact-container {
    margin-top: 80px;
}

.contactus-cards {
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 15px;
    margin: 50px auto;
}

.contactus-form {
    box-sizing: border-box;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 80px;
    border-radius: 15px;
    background: linear-gradient(151.16deg, #FFF8F8 10.38%, #F5F7FF 95.44%);
    padding: 30px 20px;
    color: var(--secondary-01);
}

/* Form Sections */
.contactus-contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactus-formsection {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}

.formsection-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formsection-child label {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}

.formsection-child input {
    padding: 10px;
    font-size: 18px;
    line-height: 160%;
    color: var(--secondary-02);
    border: 1px solid #dcdcdc;
    border-radius: 7px;
}

.formsection-child input:focus {
    outline: skyblue solid 1px;
}

.form-message {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}

.form-message label {
    font-weight: 600;
    font-size: 20px;
    line-height: 160%;
}

.form-message textarea {
    height: 120px;
    padding: 20px 10px 10px;
    border: 1px solid #dcdcdc;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.form-message textarea:focus {
    outline: skyblue solid 1px;
}

.contactus-form-button input {
    width: 100%;
    padding: 15px 0;
    background-color: var(--secondary-01);
    border-radius: 7px;
    color: var(--text-01);
    font-size: 18px;
    line-height: 160%;
}

.contactus-accordion-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 80px auto;
    max-width: 1200px;
}

/* Media Queries for Responsiveness */
@media (min-width: 480px) {
   .contactus-form {
        padding: 40px;
    }
   .formsection-child input {
        padding: 15px 12px 15px 30px;
    }
   .contactus-form-button {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
   .contactus-form-button input {
        width: fit-content;
        padding: 15px 25px;
    }
}

@media (min-width: 768px) {
   .contactus-contact-container {
        margin-top: 100px;
    }
   .contactus-form {
        margin-bottom: 100px;
    }
   .contactus-contact-form {
        gap: 30px;
    }
   .contactus-formsection {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
   .form-message textarea {
        height: 160px;
        padding: 30px 15px 15px 30px;
    }
   .contactus-accordion-container {
        margin: 100px auto;
    }
}

@media (min-width: 990px) {
   .contactus-cards {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
   .contactus-form {
        padding: 60px;
    }
   .contactus-formsection {
        gap: 50px;
    }
   .contactus-form-button input {
        padding: 20px 35px;
    }
}

@media (min-width: 1260px) {
   .contactus-contact-container {
        margin-top: 20px;
        overflow: hidden;
    }
   .contactus-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
   .contactus-form {
        padding: 96px;
        margin-bottom: 140px;
    }
   .form-message textarea {
        height: 230px;
    }
   .contactus-accordion-container {
        margin: 140px auto;
    }
}


@media (max-width: 600px) {
    .container {
         overflow-x: hidden;
     }
 }
 
 .services-hero{
    height: 355px;
    background-size: 100%;
}

.banner-container{
    position: absolute;
    top:0%;
    height: 355px;
    width: 100%;
    overflow: hidden;
}

.about-stats{
    background-color: var(--secondary-01);
    padding-bottom: 50px;
    padding-top: 20px;
}

.about-stats div{
    margin-top: 0;
}

.aboutus-about-wrapper{
    overflow: hidden;
}

.aboutus-about-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-width: 1200px;
}

.aboutus-about-words{
    position: relative;
    top:-45px;
}

.desktop img{
    width: 100%;
    height: auto;
}

.aboutus-about-header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.aboutus-about-main{
    font-size: 15px;
    letter-spacing: 0.135em;
    font-family: "Noto Sans";
    color: var(--secondary-01);
}

.aboutus-about-info span{
    color: #FEC90C;
}

.aboutus-about-main h2{
    font-family: "Nunito";
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.36px;
    color: var(--secondary-01);
    margin-top: 0;
}

.aboutus-about-subcontent{
    width: 90%;
    margin: auto;
    padding-top: 20px ;
    border-top: 1px solid #CFCFCF;
}

.aboutus-button-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutus-about-button{
    display: flex;
    background-color: var(--secondary-01);
    color: white;
    height: 48px;
    padding: 10px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.aboutus-about-button img{
    width: 32px;
    height: auto;
}

.aboutus-about-button h3{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.aboutus-about-text{
    font-family: "Noto Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
}

.getintouch a{
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding:15px 0;
    background-color: var(--secondary-03);
    border: 1.5px solid var(--secondary-01);
    border-radius: 7px;
    transition: all 0.3s ease-out;
}

.getintouch a:hover{
    color:white;
    background-color: var(--secondary-01);
}

.aboutus-team-container{
    display: grid;
    grid-template-columns: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    gap:30px;
    max-width: 1200px;
}

.aboutus-office{
    background: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
    padding: 80px 0;
    margin-top:80px;
}

.office-wrapper{
    width:90%;
    margin: auto;
    max-width: 1200px;
    
}

.office-container{
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    align-items: center;
}

.aboutus-services{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-color: var(--secondary-01);
    padding: 70px 0;
    margin-bottom: 80px;
}

.aboutus-services-buttons{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.aboutus-getintouch a,.aboutus-ourservices a{
   width: 90%;
   margin: auto;
   display: flex;
   justify-content: center;
   padding: 15px 0;
   font-size: 18px;
   line-height: 160%;
}

.aboutus-getintouch a{
    color:#fff;
    background-color: var(--secondary-01);
    border: 1.5px solid #fff;
    border-radius: 7px;
    transition: all 0.3s ease-out;
}

.aboutus-getintouch a:hover{
    background-color: #fff;
    color: #292930;
}

.aboutus-ourservices a{
    align-items: center;
    background-color: #fff;
    gap: 6px;
    border-radius: 7px;
    color: var(--secondary-01);
    transition: all 0.3s ease-out;
}

.aboutus-ourservices a:hover{
   background-color: #FEC90C;
   gap:10px;
}

@media (min-width:480px){
    .services-hero,.banner-container{
        height: 426px;
    }
    .aboutus-about-subcontent{
        padding-top: 30px;
    }
    .aboutus-about-main h2{
        font-size: 35px;
    }
    .aboutus-about-button{
        width:fit-content;
        padding:10px 20px;
    }
    .getintouch a{
        width: fit-content;
        padding: 15px 20px;
    }
    .aboutus-services{
        position: relative;
        padding: 80px 0;
    }
    .aboutus-services-buttons{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .aboutus-getintouch a,.aboutus-ourservices a{
        width: fit-content;
        padding: 20px 35px;
    }
}

@media (min-width:768px) {
    .services-hero,.banner-container {
        height: 521px;
    }
    .aboutus-about-words{
        top: -65px;
    }
    .aboutus-about-button{
        height: 52px;
        gap:15px;
    }
    .aboutus-about-button h3{
        font-size: 21px;
    }
    .getintouch a{
        padding: 20px 35px;
    }
    .aboutus-team-container{
        width: 90%;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        margin-top: 40px;
    }
    .aboutus-office{
        padding: 100px 0;
        margin-top: 100px;
    }
    .aboutus-services {
        padding:100px 0;
        margin-bottom: 100px;
    }
}

@media (min-width:990px){
    
    {
    }

    .aboutus-about-words {
        top: -150px;
    }
    .aboutus-about-main h2 {
        width: 55%;
        font-size: 40px;
    }
    .aboutus-button-container{
        gap:25px;
    }
    .aboutus-team-container{
        grid-template-columns: 32% 32% 32% ;
        margin-top: 50px;
    }
    .office-container{
        grid-template-columns: 48% 48%;
        justify-content: space-between;
    }
    .aboutus-services{
        top: -35px;
    }
}

@media (min-width:1280px){
    .aboutus-about-wrapper{
        display: flex;
        justify-content: center;
    }
    .aboutus-about-content{
        margin-top: 30px;
        flex-direction: row;
        justify-content: center;
    } 
    .aboutus-about-words{
        top:90px;
    }
    .desktop{
        width:40%;
        min-width: 550px;
    }
    .desktop img{
        width: 150%;
    }
    .aboutus-about-words{
        left: -5px;
        width: 50%;
        min-width: 665px;
        height: fit-content;
    }
    .aboutus-about-header{
        flex-direction: row;
        align-items:flex-start;
        gap:30px;
    }
     .aboutus-about-main h2 {
         width: 100%;
    }
    .aboutus-button-container{
        flex-direction: row;   
    }
    .office-container{
        grid-template-columns: 32% 32% 32%;
    }
    .aboutus-office {
        padding: 140px 0;
        margin-top: 50px;
    }
    .aboutus-services{
        overflow: hidden;
        padding: 150px 0;
        margin-bottom: 130px;
        top:-120px;
    }
    .aboutus-team {
        position: relative;
        top:-100px;
        margin-bottom: 0;
    }
}



 