/* Preloader.css */
.preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-image {
  width: 60vw;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .animated-image {
    width: 80vw;
  }
}

@media (max-width: 480px) {
  .animated-image {
    width: 90vw;
    margin-bottom: 20vh; /* Push the image up by reducing the bottom margin */
  }
}