:root{
    --primary-01:#ffdc60;
    --primary-02:#5956E8;
    --secondary-01:#292930;
    --secondary-02:#555555;
    --secondary-03:#f6f6f6;
    --text-01:#ffffff;
}
body{
    font-family: 'Nunito',sans-serif;
    width: 100%;
    margin: 0px;
    overflow-y: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


/* App.css */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo-container {
  animation-name: fadeIn;
  animation-duration: 2s; /* Adjust duration as needed */
  animation-fill-mode: forwards;
}
/* Global styles */


/* index.css or global.css */
.overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* High z-index to ensure it's above other content */
}

.visible {
  display: block; /* Make the overlay visible */
}
